*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #1A1A63;
    font-size: 1.6rem;
    padding: 10px 5px;
    display: flex;
    justify-content: space-around;
}

nav a{
    text-decoration: none;
    text-transform: capitalize;
    color: whitesmoke;
    
}

nav ul{
    list-style: none;
    display: flex;
    width: 520px;
    justify-content: space-between;
}


@media(max-width: 520px){
    nav, nav ul{
        flex-direction: column;
        align-items: center;
    }
    
}