section{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: lightpink;
    /* transition: 2s;
     */
     transition-duration: 5s;
     transition-delay: 2s;
     transition-property: background-color;
}

section:hover{
    border-radius: 50%;
    background-color: aqua;
}

article{
    margin: 20px auto;
    border: 2px solid black;
}

article div{
    height: 50px;
    width: 50px;
    margin: 10px;
    border: 2px solid black;
    background-color: greenyellow;
    transition: 2s;
}

article:hover div{
    margin-left: 900px;
}

div:nth-of-type(1){
    transition-timing-function: linear;
}

div:nth-of-type(2){
    transition-timing-function: ease;
}
div:nth-of-type(3){
    transition-timing-function: ease-in-out;
}
div:nth-of-type(4){
    transition-timing-function: ease-in;
}
div:nth-of-type(5){
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
