div{
    height: 200px;
    width: 200px;
    background-color: orange;
    border: 4px solid brown;
}

div:hover{
    background-color: skyblue;
    border-radius: 50%;
}

input:focus{
    background-color: aqua;
}

a:visited{
    color: red;
    
}

h1:active{
    color: Yellow;
    background-color: brown;
}

input:disabled{
    background-color: pink;
}