/* 1.text-align: */
.a1{
    text-align: center;
}

h1{
    text-align: inherit
    /* text-align: start; */
    /* text-align: end; */
    /* text-align: left; */
    /* text-align: right; */
    /* text-align: center; */
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/* 2. text decoration: */
a{
    font-size: 40px;
    /* text-decoration:underline; */
    text-decoration: line-through;
    text-decoration-color: aqua;
    text-decoration-style: double;
    /* text-decoration: overline; */
    /* text-decoration: none; */
}

/* 3. text-transform: */
h1{
    text-transform:uppercase;
    /* text-transform: lowercase; */
    /* text-transform: capitalize; */
}

/* 4.other tags: */

h4{
    word-spacing: 10px;
    /* letter-spacing: 5px; */
    /* text-indent: 20px; */
}

/* 5.text-shadow: */
h3{
    font-size: 40px;
    text-shadow: 4px 4px 15px blue;
    color: transparent; 
}



